/*-----------------------------------
	General Styles
-----------------------------------*/

body{
	font-size : 14px;
	background-color: #ffffff;
}

ul{
	list-style-type: none;
}

a:hover {
	text-decoration:none;
}


.breadcrumb > .active a{
	color: #046d10;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb li a{
	color :#000000;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb>li+li:before {
	content: "\00BB";
}

.breadcrumb{
    margin-left:20%;
	margin-bottom: 100px;
	background-color:#ffffff;
    width:60%;
}

.breadcrumbBox{
	background-color: #606568;
	height: 100px;
	margin-bottom: 0px;
	padding-top: 32px;
}
