body{
    margin-top:75px;
	font-size : 14px;
	background-color: #ffffff;
}


table {
    width: 90%;
    margin-left:5%;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size:15px;
 
}

tr:nth-child(even){background-color: #d1d1d1}
tr:nth-child(odd){background-color:  white}

th {
     background-color:#4a8645;
    color: white;
}

 .Quantity{
    width:50%;
}

  .btnacc{
     background-color:#4a8645;
     margin-left:5%;
     width:90%;
     margin-top:1%;
     text-align:center;
     color:white;
     font-size:200%;
 }

  .breadcrumb{
    margin-left:20%;
	margin-bottom: 100px;
	background-color:#ffffff;
    width:60%;
}

.breadcrumbBox{
    width: 90%;
	background-color: white;
	height: 100px;
	margin-bottom: 0px;
	padding-top: 32px;
}

.breadcrumb > .active a{
	color: #046d10;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb li a{
	color :#000000;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb>li+li:before {
	content: "\00BB";
}

.Cart{
    background-color:#ffffff;
    padding-top:2%;
    padding-bottom:2%;
}