body{
        background-color:#606568;
}

table {
    width: 80%;
    margin-left:10%;
    border: 1px solid white;
    border-width:5px;
    border-color:white;
}

th, td {
    text-align: left;
    padding: 10px;
    border: 2px solid white;
    font-size:20px;
}

tr:nth-child(even){background-color: #c3e5ce}
tr:nth-child(odd){background-color: #a1c4ac }

th {
    background-color: #6ca767;
    color:#ce4242  white;
    
}


 .ButSub{
     background-color:#8f3737;
     width:70%;
     margin-left:15%;
     margin-top:30px;
     text-align:center;
     color:white;
     font-size:200%;
     border:solid 2px;
 }

