.NavibTop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}

.NavibTop li{
    float:left;
}

.NavibTop li a{
    list-style:none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavibTop a:hover{
    background-color:dimgrey;
}

.NavibTop .Home{
    background-color:red;
    
}


div#Wrapper {
 width:98%;
 height:200px;
/*background:url(images/header.png) repeat-x 0 0;*/ 
 text-align:center;
}

div#Wrapper div#Banner {
 width:1000px;
 height:200px;
 margin:0 auto;
}

div#Wrapper div#Banner img {
 width:98%; 
 height:200px; 
 margin:0 auto;
}
